.form {
  width: var(--app-width);
  height: var(--form-height);
  min-height: 65px;
  background-color: var(--background-color);
  display: flex;
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  padding: 0 15px 15px;
}

.form * {
  background-color: var(--input-color);
}

.sendMessage {
  width: 100%;
  padding: 0;
  padding-left: 15px;
  font-size: 1.2rem;
  border: var(--default-border);
  border-radius: 0;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
}

.sendButton {
  padding: 0;
  padding-right: 15px;
  font-size: 1.5rem;
  background-color: var(--input-color);
  border: var(--default-border);
  border-radius: 0;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 0 0 -1px;
  outline: none;
  -webkit-appearance: none;
}

.sendButton:hover {
  cursor: pointer;
}

.sendButton:disabled {
  cursor: not-allowed;
}

.sendMessage:focus {
  border: 1px solid var(--accent-color);
  border-right: none;
}

.sendMessage:focus+.sendButton {
  border: 1px solid var(--accent-color);
  border-left: none;
}