:root {

  --primary-color: rgb(224, 64, 251);
  --accent-color: rgb(66, 133, 244);
  --background-color: rgb(18, 24, 31);
  --input-color: rgb(38, 43, 47);

  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgba(255, 255, 255, 0.35);

  --border-color: rgba(255, 255, 255, 0.25);
  --default-border: 1px solid var(--border-color);

  --app-width: 60vw;
  --header-height: 85px;
  --form-height: 75px;
}