.message {
  position: relative;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.messageContent {
  max-width: 450px;
  line-height: 1.5rem;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  text-align: left;
  margin: 25px 0 15px 0;
  background-color: var(--primary-color);
}

.messageDetails * {
  padding: 0 5px;
}

.sent {
  flex-direction: row-reverse;
}

.sent .messageContent {
  background-color: var(--primary-color);
  align-self: flex-end;
  border-top-right-radius: 1px;
}

.received .messageContent {
  background: var(--input-color);
  border-top-left-radius: 1px;
}

.sent .messageDetails {
  position: absolute;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  right: 50px;
}

.received .messageDetails {
  position: absolute;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  left: 50px;
}

.sent .img {
  margin: 0 0 0 10px;
}


.received .img {
  margin: 0 10px 0 0;

}

.timestamp {
  color: var(--secondary-text-color);
}